.hero {
    text-align: center;
    color: white;
    padding: 4rem 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.hero h1 {
    text-align: center;
}

.hero p {
    color: #e2e4e98f;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.hero .button {
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #009485;
    transition: background-color 0.3s, color 0.3s;
}

.hero .button:hover {
    background-color: #009485;
    color: white !important;
    transition: background-color 0.3s, color 0.3s;
}
