.hero {
    margin-bottom: 2rem;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.hero h1 {
    text-align: center;
}

.hero p {
    color: #e2e4e98f;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.hero p.home-quote {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: white;
}

.hero .button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #009485;
    transition: background-color 0.3s, color 0.3s;
}

.hero .button:hover {
    background-color: #009485;
    color: white !important;
    transition: background-color 0.3s, color 0.3s;
}
